<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cyllide.app.v1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:logo="@drawable/app_logo"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        >



        <activity android:name=".portfolio.VersionControlActivity"></activity>
        <activity android:name=".authentication.UsernameActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity
            android:name=".contests.portfolioRV.LeaderboardsActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".contests.MonthlyActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authentication.OTPVerification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz.QuizRulesActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".forum.ForumActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".forum.askquestion.AskQuestion"
            android:parentActivityName=".forum.ForumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forum.questionlist.questionPage.QuestionAnswerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stories.ArticlesMainActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".quiz.QuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stories.NewsPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".portfolio.PortfolioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".portfolio.PortfolioGameHomeActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            >

        </activity>
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            >

        </activity>
        <activity
            android:name=".faq_view.FAQActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".PasswordChangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stories.StoriesPageActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".notification.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".portfolio.PortfolioGameDetailedChartActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".authentication.PhoneAuth" />
        <activity
            android:name=".quiz.SocketQuizActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".background.services.QuizAlarmManager" />
        <receiver
            android:name=".MySMSBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".background.services.AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".background.services.GetLatestQuizIDService" /> <!-- <receiver -->
        <!-- android:name=".NetworkConnectionBroadcastReveiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <receiver
            android:name=".background.services.MySMSBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
            <intent-filter android:priority="5822">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cyllide.app.v1.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"></meta-data>
        </provider>




    </application>

</manifest>